* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

:root {
    --index: calc(1vw + 1vh);
    --box-width: calc(var(--index) * 11);
    --box-height: calc(var(--index) * 12);
    --shadow-size: calc(var(--index) * 8);
    --image-height: calc(var(--index) * 10);
    --info-height: calc(var(--index) * 2);
    --h2-font-size: calc(var(--index) * 0.8);
    --span-font-size: calc(var(--index) * 0.6);
    --info-bg: #ddd;
    --span-color: #f44336;
}

body {
    background: linear-gradient(220deg, #000000, #382711, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: var(--box-width);
    height: var(--box-height);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(245deg);
    transition: 1.3s;
    display: flex;
    justify-content: center;
}

.box::before {
    content: '';
    position: absolute;
    width: var(--shadow-size);
    height: var(--shadow-size);
    background: #222;
    z-index: 1000;
    transform: translateY(var(--box-height)) rotateX(90deg) scale(1.1);
    filter: blur(35px);
}

.box .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 90deg)) translateZ(calc(var(--index) * 5.48));
}

.box .card .image {
    position: relative;
    width: 100%;
    height: var(--image-height);
}

.box .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--info-height);
    background: var(--info-bg);
    transform-style: preserve-3d;
}

.box .card .info h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translateZ(30px);
    backface-visibility: hidden;
}

.box .card .info h2 span {
    font-size: var(--span-font-size);
    color: var(--span-color);
}

.prev, .next {
    height: 100%;
    border: none;
    width: 30%;
    font-size: calc(var(--index) * 0.8);
    cursor: pointer;
    background: none;
    transition: 0.1s;
}
.prev:hover, .next:hover {
    background: #f7f7f7;
}

.prev:active, .next:active {
    background: #d5d5d5;
}